<!-- {{arrPost | json}} -->

<nav class="navbar navbar-expand-lg navbar-mainbg">
  <a class="navbar-brand navbar-logo" href="#">Cocina con Ana</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-outline-dark" [routerLink]="['/new']">Escribir un nuevo post</button>
      </li>
      <li class="nav-item mr-4 ml-4">
         <button class="btn btn-outline-dark" (click)="onClickTodos()">Todos los posts</button>
      </li>
      <li class="nav-item">
        <select class="custom-select" (click)="onClickCategoria($event)">
          <option value="aperitivos">Aperitivos</option>
          <option value="carnes">Carnes</option>
          <option value="verdursas">Verduras</option>
          <option value="pescados">Pescados</option>
          <option value="postres">Postres</option>
        </select>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="card mb-3"  *ngFor="let post of arrPost">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="post.imagen" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{post.titulo}}</h5>
          <p class="card-text">{{post.texto}}</p>
          <div class="colum d-flex justify-content-around">
            <p class="card-text"><small class="text-muted">Autor: {{post.autor}}</small></p>
            <p class="card-text"><small class="text-muted">Fecha: {{post.fecha | date: 'dd/MM/y hh:mm'}}</small></p>
            <p class="card-text"><small class="text-muted">Categoría: {{post.categoria}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
